/* header{
    background: url(images/kazuend-2KXEb_8G5vo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
} */

/* @media screen and (max-width: 700px) {
    header {
        min-height: 500px;
    }
} */

.hero1 {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/mixing_booth.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero2 {
    height: 590px;
    width: 100%;
    margin-top: 25px;
    background-image: url("./assets/desk.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero h2 {
    color: var(--gray);
    background-color: var(--blue);
    font-size: 200%;
    margin: 0px 100px 30px 100px;
    padding: 10px;
}

.parallax-container {
    height: 400px;
}

.btn-container{
    width: 100%;
    margin-top: 365px;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-title{
    background-color: #00C853;
    margin: 0px;
    padding: 5px !important;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.playlists div {
    width: 300px !important;
}

.playlists .card-image {
    height: 300px !important;
    overflow: hidden !important;
}